.hidden {
    display: none;
}

body {
    background-color: rgb(198, 207, 255);
    text-align: center;
}

h1 {
    font-size: 35pt;
}

#timer {
    font-size: 40pt;
    color: rgb(92, 7, 7);
    margin-bottom: 20pt;
}

#question {
    margin-bottom: 20pt;
    font-size: 15pt;
}

#start-button {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(176, 236, 210, 0.874);
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

#start-button:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(154, 232, 198, 0.874);
}

#answer {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
}

#rock {
    position: fixed;
    display: flex;
    width: 100px;
    height: auto;
    left: 1000px;
    bottom: 400;
    cursor: pointer;
}

#rock-counter {
    position: fixed;
    display: flex;
    left: 955px;
    bottom: 280px;
}

#score {
    margin-top: 10px;
}

.incorrect {
    background-color: antiquewhite;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 450px;
}

#to-add {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: none;
    border-radius: 5px;
    background-color: beige;
    cursor: pointer;
    padding: 5px 10px;
}

#to-add:hover {
    background-color: rgb(243, 243, 189);
}

.question-cont{
    align-items: center;
    width: 40%;
    margin: auto;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.question-input {
    height: 30px;
    width: 200px;
    border-radius: 7px;
    border:none;
}

.answer-input {
    height: 30px;
    width: 75px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 7px;
    border:none;
}

.delete-button {
    border: none;
    background-color: white;
    cursor: pointer;
    color: red;
}

#second-cont{
    background-color: antiquewhite;
    width: 70%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
    height: 500px;
    overflow: auto;
}

#clear-button {
    position: relative;
    width: 40%;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(252, 146, 146);
    cursor:pointer;
}

#bottom-row {
    margin-top: 25px;
}

#default-button {
    height: 30px;
    width: 10%;
    border-radius: 10px;
    border:none;
    background-color: azure;
    cursor: pointer;
}

#new-question {
    height: 30px;
    width: 15%;
    border-radius: 10px;
    border:none;
    background-color: rgb(148, 170, 222);
    cursor: pointer;
}

#save-button {
    height: 30px;
    width: 15%;
    border-radius: 10px;
    border:none;
    background-color: rgb(175, 175, 255);
    cursor: pointer;
}

#home-button {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 40px;
    font-size: 15pt;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: rgb(203, 94, 185);
}